{% extends 'base.html' %}

{% block title %}關於我{% endblock %}

{% block content %}
<h2>👨‍關於我</h2>
<ul class="about-list">
    <li><strong>姓名：</strong>沈睿晟</li>
    <li><strong>出生：</strong>2007年8月14日</li>
</ul>

<h2>🎓學歷</h2>
<ol class="edu-list">
    <li>平林國小</li>
    <li>大林國中</li>
    <li>南台科技大學五專資訊工程系</li>
</ol>

<h2>👨‍💻專業技能</h2>
<ul class="skill-list">
    <li><strong>各樣樂器:</strong>小喇叭、鋼琴、長笛、長號、低音號、鍵盤樂器、法國號、薩克斯風</li>
    <li><strong>作業系統：</strong>Windows、Linux</li>
    <li><strong>程式語言：</strong>Python、JavaScript、C#、Basic、C、C++</li>
    <li><strong>網頁設計：</strong>HTML、CSS、Bootstrap</li>
    <li><strong>資料庫：</strong>MySQL、SQLite、Access</li>
</ul>

<h2>🤹‍♀興趣</h2>
<ul class="hobby-list">
    <li>打電動</li>
    <li>攝影</li>
    <li>看書</li>
</ul>
{% endblock %}