{% extends 'base.html' %}

{% block title %}首頁 -juicheng shen{% endblock %}

{% block content %}
<div class="homepage-container">
    <div class="profile-card">
        <img src="{{ url_for('static', filename='images/my_photo.jpg') }}" alt="juicheng headshot" class="profile-pic">
        <h2 class="name">沈睿晟 juicheng Shen</h2>
        <div class="separator"></div>
        <p class="title">information engineering student</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/chen.rui.cheng.157174" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/photography.jcsw/?next=%2Fshen_jui_cheng%2F" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="main-content">
        <h1 class="greeting">Welcome</h1>
        <h3 class="subheading">Here's who I am </h3>
        <div class="buttons">
            <a href="{{ url_for('about') }}" class="btn btn-primary">ABOUT</a>
            <a href="{{ url_for('achievements') }}" class="btn btn-secondary">PROJECTS</a>
        </div>
        <p class="description-text">
            你好,我是資訊工程系的學生，目前就讀於南台科技大學五專資訊工程系3年級。
            
        </p>

    </div>
</div>
{% endblock %}